/* Core Billreach styles. */

// Colors
$bg-inset: #666666;
$txt-inset: #dddddd;

/* Header */
	body {padding-top: 2em;}
	
	#header {
		@include background-image(linear-gradient($bg-inset, darken($bg-inset, 10%)));
		@include box-shadow;
		position: fixed;
		top:0;
		width: 100%;
		left:0;
		z-index: 100;
		
		a {
			text-decoration: none;
			color: #fff;
			@include text-shadow;
		} 
	}
	.logo,
	.nav-main,
	.nav-main > li,
	.nav-controls > li {
		display: inline-block;
	}
	.nav-main,
	.nav-controls {
		margin: 0;
		padding: 0;
		position: relative;

		
		& > li {
			padding: .25em 0;
			
			& > a {
				@include time(.1s);
				padding: .25em .5em;
				display: inline-block;
				border-radius: 2em;
			
				&:hover {
					background: rgba(black, .1);
				}
			}
		
			&.active > a {
				background: rgba(black, .25) !important;
			}
		}
	}
	.nav-controls {
		float: right;
		display: block;
	}
	.logo {
		padding: .5em 0;
		padding-right: 1em;
	}
	

/* Comapny Menu */
	.company-current {padding: 1.5em 0;}
	.company-selector {
		background: $bg-inset;
		color: $txt-inset;
		@extend .jshide;
		overflow: hidden;
		margin-bottom: 1.5em;
	
		.col-aside {
			}
	}
	
	.company-list {
		margin: 0 0 -100em 0;
		padding: 0 0 100em 0;
		border-left: 1px solid darken($bg-inset, 20%);
		border-right: 1px solid darken($bg-inset, 20%);
		background: darken($bg-inset, 10%);
		
		
		& > li {
			margin: 0 -1px 0 0;
			padding: 1em .5em;
			display: block;
			list-style: none;
			border-bottom: 1px solid darken($bg-inset, 20%);
			border-right: 1px solid darken($bg-inset, 20%);
			cursor: pointer;
			@include time(.15s);
			
			&:hover {
				background: darken($bg-inset, 5%);
			}
			&.active {
				color: #fff;
				background: $bg-inset;
				border-right-color: $bg-inset;
			}
		}
	}
	
	.company-meta {
		padding-top: 2em;
		padding-bottom: 2em;
	}



/* --- UI elements */
/* Compound List */
.compound-list {
	border-radius: 3px;
	border:1px solid #ccc;
	margin: 0;
	padding: 0;
	cursor: pointer;
	
	li {
		list-style: none;
		
		// fancy CSS judo to fix top/bottom rounded corners
		&:first-child .list-name {border-radius: 2px 2px 0 0;}
		&:last-child .list-name {border-radius: 0 0 2px 2px;}
		
		&.active {
			&:last-child .list-name {border-radius: 0;}
			&:last-child .sub-list {border-radius: 0 0 2px 2px;}
		}
		
	}
	
	.list-name {
		display: block;
		padding: .5em;
		@include background-image(linear-gradient(#eeeeee, #dddddd));
		@include box-shadow(white 0 1px 0px inset);
	}
	
	.sub-list {
		margin: 0;
		padding: 0;
		background: $bg-inset;
		color: $txt-inset;
		@extend .jshide;
	}
	
	.sub-name {
		font-weight: normal;
	}
}

/* Task table */
.detail-veiw {
	padding:1em;
	border-radius: 4px;
	background: #eee;
	border: 1px solid #ccc;
}

/* Pills */
.pills {
	padding: 0;
	margin: 0;
	overflow-x: auto;
	@extend .clear;
}
.pill {
	list-style: none;
	font-size: 80%;
	padding: .15em .25em 0 .25em;
	border-radius: .25em;
	border: 1px solid #666;
	background: #aaa;
	margin: .25em;
	float: left;
	white-space: nowrap;
	
	a {
		font-weight: bold;
		border-left: 1px solid #666;
		display: inline-block;
		text-decoration: none;
		color: #000;
		padding: .15em .25em .15em .25em;
		margin: -.15em -.25em 0 .25em;
		border-radius: 0 .15em .15em 0;
		
		&:hover {
			background: #777;
			color: #fff;
		}
	}
}


/* Timer */
	// Container
	.timer-dropdown {
		position: absolute;
		top:2.5em;
		right: 0;
		width: 600px;
		border:5px transparent solid;
		border-radius:5px;
		background: rgba(#333, .95);
		@extend .jshide;
		
		@include box-shadow(rgba(black, .5) 0px 2px 6px);
		
		.timer-selected {
			background: #fff;
			@include box-shadow(black 0px 1px 1px);
			position: relative;
			z-index: 20;
		}
		
		.timer-selected,
		.timer-select {
			width: 50%;
			float: left;
			height: 250px;
			overflow: auto;
		}
		
		.panel {
			
			@include translate(0px, 0px);
			
			position: absolute;
			top:0;
			bottom:0;
			left:0;
			width: 50%;
			overflow: auto;
			@include time(.1s);
			background: #ccc;
			z-index: 10;
			//@extend .jshide;
		}
		.panel.open {
			@include translate(100%, 0);
		}
		
		.recents {
			color: #fff;
			z-index: 5;
		}
		.recents {
			position: absolute;
			top:0;
			bottom:0;
			left:50%;
			width: 50%;
			overflow: auto;
			
			ul {padding: 0;margin: 0;}
		}
		
		.panel,
		.recents,
		.timer-meta {
			padding: 1em;
		}
		
		li,
		dd {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin: 0;
			}
		
		
		// Timer blocks
		.time-for,
		.last-timed {
			padding: .5em;
			margin: 0 -.5em .5em -.5em;
			border: 1px solid #fff;
			
		}
		.time-for {
			@include time(.15s);
			border-radius: 2px;
			cursor: pointer;
			border-color: #eee;
			
			&:hover {
				@include box-shadow(#ccc 0px 1px 2px);
				border-color: #aaa;
			}
		}
		
		.timer-controls {
			background: #eee;
			padding: .5em;
			text-align: right;
			
			.control,
			.timer-time {
				display: inline-block;
			}
			.timer-time {
				float: left;
			}
		}
	}
	
	// populate list 
	.populate-list {
		padding: 0;
		
		li {list-style-type: none;
			cursor: pointer;
			
			&:before {
				content: '\2039\00a0\00a0';
			}
		}
		
	}