/* Compass Variables */

// CSS3/box-shadow
	$default-box-shadow-color: rgba(0,0,0,.25);
	$default-box-shadow-v-offset: 1px;
	$default-box-shadow-blur: 2px;

// CSS3/text-shadow
	$default-text-shadow-color: rgba(0,0,0,.25);
	$default-text-shadow-v-offset: 1px;
	$default-text-shadow-blur: 1px;